.-size4S {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  max-width: 100%;
  
  @media only screen and (min-width: 767px) {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}