.-size9S {
  flex: 0 0 auto;
  padding-right: 10px;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 8px;

  @media only screen and (min-width: 767px) {
    flex-basis: 75%;
    max-width: 75%;
  }
}