.button-confirmation-return {

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 0 1px;
  }

  &__indicator {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    margin: 0 10px 0 0;
    transition: .15s;
  }

  &__title {
    display: block;
    height: 10px;
    line-height: 14px;
    font-size: 14px;
    font-family: MullerRegular, sans-serif;

    @media (max-width: 767px) {
      line-height: 13px;
      font-size: 13px;
    }
  }

  &__input {
    display: none;
    position: absolute;
    z-index: -1;
    left: -9999px;
    opacity: 0;

    &:checked + .button-confirmation-return__indicator {
      background: #000;
    }
  }
}