.card-product-data {
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
  text-align: left;

  &__item {
    display: block;

    &_brand {
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      margin: 0 0 3px;
      font-family: MullerBold, sans-serif;
    }

    &_title {
      font-size: 11px;
      text-transform: uppercase;
      line-height: 13px;
      margin: 0 0 3px;
    }

    &_size {
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }

    &_price {
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      margin: 0 0 3px;
    }

    &_old-price {
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      text-decoration: line-through;
    }
  }
}