.detail-list {
  width: calc(75% + 70px);
  padding: 0 0 0 7px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 -70px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 17px 0 0;
    margin: 0;
  }

  @media (max-width: 479px) {
    display: block;
  }

  &__item {
    margin: 0 0 15px 70px;

    @media (max-width: 767px) {
      margin: 0 14px 15px;
    }

    @media (max-width: 479px) {
      margin: 0 14px 28px;
    }
  }
}