.detail-list {
  width: calc(75% + 70px);
  padding: 0 0 0 7px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -15px 0 0 -70px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 0;
    margin: -20px 0 0;
  }

  @media (max-width: 479px) {
    display: block;
  }

  &__item {
    margin: 15px 0 0 70px;

    @media (max-width: 767px) {
      margin: 15px 14px;
    }
  }
}