.form-return-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  color: #000;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border-radius: 0;

  &:hover, &:focus, &:active {
    outline: none;
  }
}