.form-return-row {
  position: relative;
  display: flex;
  padding: 14px 0;

  @media (max-width: 991px) {
    align-items: flex-start;
  }

  & .form-return-col:first-child {
    margin: 0 15px 0 0;
  }

  & .form-return-col:last-child {
    @media (max-width: 991px) {
      align-items: flex-start;
      width: auto;
      flex: 1 1;
    }

    @media (max-width: 767px) {
      position: absolute;
      top: 14px;
      right: 0;
    }
  }
}