.success-return {
  position: relative;
  top: 161px;
  z-index: 1;
  max-width: 870px;
  width: 100%;
  height: 404px;
  background: #fff;
  padding: 128px 70px 35px;
  margin: 0 15px;

  @media (max-width: 767px) {
    top: 0;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }
}