.tippy-popper {
  position: absolute;
  visibility: visible;
  transition-duration: 0ms;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(1361px, 113px, 0px);
  min-width: 300px;
  max-height: 400px;
  perspective: 700px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
  pointer-events: none;
  line-height: 1.4;
}