.tippy-tooltip {
  max-width: 300px;
  transition-duration: 325ms;
  bottom: 0px;
  opacity: 1;
  transform: translateY(10px);
  position: relative;
  border: 1px solid #e6e6e6;
  will-change: transform;
  background-color: #fff;
}